body {
    background-color: rgb(60, 60, 221);
    color: rgb(229, 238, 52); 
  }

label {
  color: rgb(243, 243, 35); 
  font-size: 16px; 
}

input {
  padding: 5px; 
  background-color: rgb(241, 241, 143); 
  color: black; 
  border: 1px solid darkgray;
}

button {
  background-color: rgb(76, 84, 194); 
  color: rgb(243, 247, 51); 
  padding: 10px 20px; 
  margin: 5px; 
  cursor: pointer; 
}